<footer>
  <div class="f-info max-width">
    <div class="f-info-socials">
      <a href="https://www.linkedin.com/in/nitish-yadav-438b01282?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BJ6AjLTylRta5C4zSC9U7iA%3D%3D"><i class="fa-brands fa-linkedin"></i></a>
      <a href="https://www.instagram.com/_nitish_krishna_45_/"><i class="fa-brands fa-square-instagram"></i> </a>
      <a href="https://github.com/Nitish451"><i class="fa-brands fa-github"></i></a>
    </div>
    <div class="f-info-brands">&copy; Wanderstay Private Limited</div>
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Term</a>
    </div>
  </div>
</footer>

<style>
  .fa-brands{
    color: black;
  }
  .fa-brands:hover{
    color: blue;
  }
</style>


