@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
body {
  font-family: "Plus Jakarta Sans", sans-serif !important;
  background-color: palevioletred;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.navbar {
  height: 5rem;
  background-color: white;
}
.fa-compass {
  color: #fe424d;
  font-size: 2rem;
}
.nav-link {
  color: #222222 !important;
}


/*cards*/

.listing-card {
  border: none !important;
  margin-bottom: 2rem;
}
.card-img-top {
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}
.card-body {
  padding: 0 !important;
}
.card-text p {
  font-weight: 400 !important;
}

.listing-link {
  text-decoration: none !important;
}
/*card effect*/
.card-img-overlay {
  opacity: 0;
}
.card-img-overlay:hover {
  opacity: 0.2;
  background-color: white;
}
/* new page*/
.add-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/* edit page*/
.edit-btn {
  background-color: #fe424d !important;
  border: none !important;
}
/*show page*/




/* index.ejs */

#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  margin-top: 1rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
  color: blue;
}

.filter p {
  font-size: 0.8rem;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 0.4rem;
  display: inline-flex;
  margin-left: 1rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  align-items: center;
}







 /* index page */
@media screen and (max-width:1056px) {
  .navbar-center-content-div{
    display: none;
  }
}

@media screen and (max-width:743px) {

  .navbar-container{
    padding: 1rem 2rem;
  }
  
  .navbar-search-div{
    display: none;
  }
  
  .navbar-add-btn,
  .navbar-globe-btn{
    display: none;
  }
}
  

